.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-background);
}

.content {
  display: flex;
  flex-direction: column;

  .line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
