.container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}

.content {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  align-items: flex-end;

  button {
    width: 300px;
  }
}
