.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.float {
  width: 61px;
  height: 61px;

  [class="ant-float-btn-body"] {
    background-color: var(--color-primary);
    &:hover {
      background-color: var(--color-primary);
    }
  }
}

.content {
  display: flex;
  height: 100vh;

  overflow-y: scroll;
}

.reasonWrapper {
  width: 100%;
}
